BODY {
  font:80% arial,helvetica,sans-serif;
  margin: 35px;
}

IMG {
  border: 0px;
}

H1 {
  font: 150% arial,helvetica,sans-serif;
}

H2 {
  font:125% arial,helvetica,sans-serif;
}

DIV#footer {
  font: 60% arial, helvetica, sans-serif;
  text-align: left;
  margin-top: 10px;
}

A.icon {
  background-repeat:no-repeat;
  padding-top:4px; 
  padding-bottom:5px; 
  padding-left:23px;
}

DIV#passport {
  text-align: justify;
  float: right;
  width: 178x;
  background-color: #eee;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

DIV#passport P {
  width: 178px;
}

/* <circular menu> */

UL.circular.menu {
  display: inline-block;
  list-style: none;
  height: 450px;
  width: 400px;
}

UL.circular.menu LI {
  display: block;
  height: 125px;
  width: 125px;
  float: left; 
}

UL.circular.menu LI.koken {
  left: 120px;
  top: 50px;
}

UL.circular.menu LI.zeilen {
  left: 210px;
  top: 110px;
}

UL.circular.menu LI.informatica {
  left: 110px;
  top: 220px;
}

UL.circular.menu LI.fotografie {
  left: 0px;
  top: 280px;
}

/* </circular menu> */


