{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}
{% assign sorted_posts = site.categories[page.index] | sort: 'title' %}
{% if page.filter %}
<div class="grid__filter">
  <input type="text" id="grid__filter" placeholder="&#xF002;" style="font-family:Arial, FontAwesome">
</div>
{% endif %}
<div class="grid__wrapper">
  {% for post in sorted_posts %}
    {% if post.layout != "redirect" %}
      {% include archive-single.html type="grid" %}
    {% endif %}
  {% endfor %}
</div>
