<h2>Recente klanten</h2>

<div class="customers">
  <a href="http://studiodott.be" alt="Studio Dott"><img src="/assets/images/customers/studio-dott.png"></a>
  <a href="http://novid.be" alt="Novid"><img src="/assets/images/customers/novid.jpg"></a>
  <a href="http://pfizer.be" alt="Pfizer"><img src="/assets/images/customers/pfizer.png"></a>
  <br>
  <a href="http://uantwerpen.be" alt="Universiteit Antwerpen"><img src="/assets/images/customers/ua.png"></a>
  <a href="http://bellekens.com" alt="Bellekens IT"><img src="/assets/images/customers/bellekens.png"></a>
</div>
