<div class="hi noprint">

  <img class="nametag" src="/assets/images/nametag.png" alt="nametag">

  <p class="greeting">

    Hi, I'm an <a href="/about/I-Software-Architect">Enterprise Architect</a>
    and I &hearts; <a href="/makes">making stuff</a>, enjoy <a
    href="/koken">cooking</a>, try to spend some time on the <a
    href="/zeilen">water</a> and love to observe the world through the lens of
    my <a href="/fotografie">camera</a>. This is my personal website, a mix of
    serious and less serious writings, both in English and Dutch.

  </p>
  
  <p class="greeting">
    
    👋 Looking for a short downloadable CV? <a
    href="/about/assets/cv-en.pdf">English</a> / <a
    href="/about/assets/cv-nl.pdf">Dutch</a>
    
  </p>
  

  <div class="slider">

    <p>

      The timeline below includes both hard- and software related topics. Drag
      the slider to apply focus.
    
      <br>
    
      <i>Pro-Tip: when printed, it also looks like a CV ;-)</i>

    </p>

    <form>
      <input type="range" id="inputRange">
    </form>      
  </div>

</div>

<div class="hi print">
  <h1>Christophe Van Ginneken</h1>
  <h2>Enterprise Architect</h2>

  <ul>
    <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
      <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> 
      <span itemprop="name">Baal, Belgium</span>
    </li>

    <li>
      <a href="{{ author.uri }}" itemprop="url">
        <i class="fa fa-fw fa-chain" aria-hidden="true"></i> 
        https://christophe.vg
      </a>
    </li>

    <li>
      <a href="mailto:{{ author.email }}">
        <i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i>
        <meta itemprop="email" content="{{ author.email }}">
        christophe@2know.be
      </a>
    </li>

    <li>
      <i class="fa fa-fw fa-phone-square" aria-hidden="true"></i>
      +32(0)498/62.33.29
    </li>
  </ul>

</div>