<div class="hi noprint">

  <img class="nametag" src="/assets/images/nametag.png">

  <p class="greeting">

    Hi, I'm a <a href="/about/I-Software-Architect">Software Architect</a> and
    I &hearts; <a href="/makes">making stuff</a>, enjoy <a
    href="/koken">cooking</a>, try to spend some time on the <a
    href="/zeilen">water</a> and love to observe the world through the lens of
    my <a href="/fotografie">camera</a>. This is my personal website, a mix of serious
    and less serious writings, both in English and Dutch.

  </p>
  

  <div class="slider">

    <p>

      The timeline below includes both hard- and software related topics. Drag
      the slider to apply focus.
    
      <br>
    
      <i>Pro-Tip: when printed, it looks like a CV ;-)</i>

    </p>

    <form>
      <input type="range" id="inputRange" />
    </form>      
  </div>

</div>
