<div class="row">
  <div class="col-md-4">
    <div class="service">
      <div class="ico"><i class="fa fa-wrench"></i></div>
      <h2>Hardware</h2>

      <p>

        Ik &hearts; prototypes! De combinatie van <strong>digitale
        electronica</strong>, materiaalkeuze en constructie, belichaamt
        vandaag de <strong>uitvinders-jongensdroom</strong> van weleer. Van
        <strong>robots</strong> tot <strong>interactieve opstellingen</strong>,
        van <strong>internet der dingen</strong> tot
        <strong>multi-mediale</strong> oplossingen, er zijn nog steeds veel
        innovatieve mensen en bedrijven die <strong>mij kunnen
        uitdagen</strong> om h&uacute;n droom te realiseren.

      </p>

    </div>
  </div>

  <div class="col-md-4">
    <div class="service">
      <div class="ico"><i class="fa fa-code"></i></div>
      <h2>Software</h2>

      <p>

        Opgegroeid met programmeertalen, zijn ze bijna <strong>mijn
        moedertaal</strong>. Als <strong>software architect</strong> geef ik
        vorm aan enorme <strong>platformen</strong> en sinds de introductie van
        hardware pas ik die <strong>kennis &amp; ervaring</strong> ook toe op
        het ontwikkelen van <strong>embedded oplossingen</strong> voor deze
        kleine omgevingen - meestal ook nog ondersteund door een grotere
        <strong>beheersomgeving</strong>.

      </p>

    </div>
  </div>

  <div class="col-md-4">
    <div class="service">
      <div class="ico"><i class="fa fa-heart-o"></i></div>
      <h2>Made with passion</h2>

      <p>

        Elke opdracht die ik opneem is <strong>belangrijk</strong>. Van het
        kleinste prototype tot het grootste gedistribueerde platform, altijd
        realiseer je iemands droom. Daar moet je <strong>respectvol</strong>
        mee omspringen. Software ontwikkelen is <strong>moeilijk</strong> en
        hardware ontwikkeling is <strong>hard</strong>. Maar met passie om
        <strong>tot het uiterste</strong> te gaan, kunnen dromen werkelijkheid
        worden.

      </p>

    </div>
  </div>
</div>
