{% assign positions = site.data.timeline.positions %}

<div class="row">
  <ul class="timeline">

    {% for position in positions %}
    {% if position == "break" %}
    <li class="all hardware software clearfix noprint" style="float: none;"></li>
    {% else %}
    <li class="{{ position.kind | join: ' ' }}">
      <div class="timeline-panel">

        {% if position.image %}
        {% assign img_src = position.image.src %}
        {% assign img_ext = img_src | split: '.' | last %}
        {% assign img_webp = img_src | remove: img_ext | append: 'webp' | remove: '.jpeg' | remove: '.jpg' | remove: '.png' %}
        {% assign img_webp = img_src | replace: '.jpeg', '.webp' | replace: '.jpg', '.webp' | replace: '.png', '.webp' %}
        <div class="timeline-heading">
          {% if position.project %}<div class="corner-ribbon top-right sticky blue">Project</div>{% endif %}
          <div class="lqip-wrapper">
            <picture>
              <source srcset="{{ img_webp }}" type="image/webp">
              <img class="img-responsive"
                   src="{{ img_src }}"
                   alt="{{ position.image.alt }}"
                   loading="lazy">
            </picture>
          </div>
        </div>
        {% endif %}

        <div class="timeline-body">
          <h1>{{ position.title }}</h1>
          {% if position.moment %}
          <h2>{{ position.moment }}</h2>
          {% else %}
          <h2>{{ position.start}} - {{ position.end | default: "..." }}</h2>
          {% endif %}
          {% for paragraph in position.body %}
          <p>
            {{ paragraph }}
          </p>
          {% endfor %}
        </div>

        {% if position.skills or position.link %}
        <div class="timeline-footer">
          {% if position.skills %}
          <b>Skills</b>: {{ position.skills | join: " · " }}
          {% endif %}
          {% if position.link %}
          <i class="fa fa-fw fa-link"></i>
          <a href="{{ position.link.url }}"{% if position.link.external %} target="_blank" rel="noreferrer"{% endif %}>{{ position.link.text }}</a>{% if position.link.external %}<span class="noprint">&nbsp;↗</span>{% endif %}
          {% endif %}
        </div>
        {% endif %}

      </div>
    </li>
    {% endif %}
    {% endfor %}

    <li class="all hardware software clearfix" style="float: none;"></li>

  </ul>
</div>
