<div class="row">
  <ul class="timeline">

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/embedded/images/banner/inspection-robot.jpeg" />
        </div>
        <div class="timeline-body">

          <h1>Freelance Hardware/Software Prototyper</h1>
          <h2>september 2016 - ...</h2>

          <p>
            Met meer dan 30 jaar ervaring in software ontwikkeling en nu reeds
            5 jaar gepassioneerd door electronica, kan ik mij sinds enige tijd
            toeleggen op het realiseren van de dromen van mijn klanten.
          </p>

          <p>
            Zo design en ontwikkel ik hardware en software prototypes voor
            nieuwe producten en diensten, gaande van <a
            href="/embedded/Fri3d-Badge">wearables</a> tot <a
            href="/embedded/Inspection-Robot">industriële robots</a> en <a
            href="/embedded/C3PO-Luisterbox">interactive opstellingen</a>.
          </p>

        </div>
        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/about/portfolio">portfolio</a>
        </div>
      </div>
    </li>
    
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-ua.png" />
        </div>
        <div class="timeline-body">

          <h1>Onderzoeker, Universiteit Antwerpen</h1>
          <h2>september 2015 - augustus 2016</h2>

          <p>
            Binnen de onderzoeksgroep mbt. energiezuinige draadloze netwerken,
            designde en ontwikkelde ik verschillende Internet of Things
            oplossingen voor industriële partners.
          </p>

          <p>
            De focus lag enerzijds op de opkomende netwerktechnologiën zoals
            Dash7, LoRa, SIGFOX, maar vereiste ook verregaande integraties met
            andere zeer nieuwe electronicacomponenten.
          </p>
          
          <p>
            Voor één van deze projecten werd tevens een spin-off voorbereid. In
            het kader daarvan werd ons business plan geselecteerd voor het <a
            href="https://www.imec-int.com/en/istart">iMinds iStart</a>
            incubator programma.
          </p>

        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/embedded">embedded</a>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-kul.png" />
          
        </div>
        <div class="timeline-body">

          <h1>Onderzoeker, KU Leuven</h1>
          <h2>september 2014 - augustus 2015</h2>

          <p>
            In navolging van mijn master thesis rond het verlagen van de impact
            van inbraakdetectie in draadloze sensornetwerken, kon ik mijn
            onderzoek verderzetten binnen de werkgroep <a
            href="https://distrinet.cs.kuleuven.be">DistriNet</a>.
          </p>

          <p>
            In dit kader onderzocht ik de inzetbaarheid van programmeertalen
            bij het optimaliseren van het energieverbruik in draadloze
            sensornetwerken in het algemeen.
          </p>
          
          <p>
            Één van de resultaten van dit onderzoek was de definitie en
            initiële implementatie van een een domein specifieke taal die dit
            mogelijk maakte, genaamd <tt>foo-lang</tt>.
          </p>
          
        </div>
        
        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/embedded">embedded</a>
        </div>
      </div>
    </li>
    
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-msc.png" />
        </div>
        <div class="timeline-body">

          <h1>Master Computer Wetenschappen, KU Leuven</h1>
          <h2>oktober 2011 - augustus 2014</h2>

          <p>
            In 2011 besloot ik om een grote persoonlijke investering te doen em
            mijn vakgebied te verruimen. In overleg met de universiteit van
            Leuven, startte ik een verkort bachelor jaar en een twee-jarige
            masteropleiding, een Master Computerwetenschappen.
          </p>
          
          <p>
            Deze periode bood me de mogelijkheid om mij verder te verdiepen in
            electronica, robotica en embedded development. Zo ontstond een
            fundering voor de toekomst.
          </p>
          
          <p>
            Mijn masterproef belichtte het <i>Verlagen van de impact van
            inbraakdetectie in draadloze sensornetwerken door middel van een
            domeinspecifieke taal en codegeneratietechnieken</i> (<a
            href="/about/assets/thesis.pdf">thesis</a>, <a
            href="/about/assets/hacker-in-mijn-koelkast.pdf">artikel</a>). In
            meerdere opzichten was dit een combinatie van oude en nieuwe
            passies: software architectuur &amp; code generatie en electronica
            &amp; embedded development.
          </p>

        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/embedded">embedded</a>
        </div>
      </div>
    </li>    

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-up.png" />
          
        </div>
        <div class="timeline-body">

          <h1>Platform Architect, UnifiedPost</h1>
          <h2>mei 2010 - september 2011</h2>

          <p>
            Nadat ik het <a href="http://unifiedpost.com">UnifiedPost</a>
            platform vanuit een klant-oogpunt, voor Acerta, uitvoerig onder
            loupe had genomen, was een overstap naar de andere kant van
            datzelfde platform een zeer leuke uitdaging.
          </p>
          
          <p>
            Zo heb ik tal van functionele en technische analyses gemaakt
            omtrent de platform-specifieke aspecten van het UnifiedPost aanbod.
            Hierbij lag de focus op de beveiliging, schaalbaarheid en
            beschikbaarheid van het platform. Dit maakte het mogelijk om het
            bestaande platform uit te rollen naar verschillende internationale
            partners die het platform vervolgens autonoom konden uitbaten.
          </p>

          <p>
            Met deze analyses van het platform, kon ik vervolgens ook
            verschillende interne en externe audits en certificering-procedures
            oganiseren en ondersteunen.
          </p>
          
        </div>
        
        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-acerta.jpg" />
        </div>
        <div class="timeline-body">

          <h1>Solution Architect, Acerta</h1>
          <h2>april 2008 - december 2009</h2>

          <p>
            Binnen het architectuur team van <a
            href="http://acerta.be">Acerta</a> leidde ik verschillende
            architecturale voorstudies voor nieuwe en vervangingsprojecten ten
            behoeve van verschillende business units. Business teams werden
            ondervraagd om concrete en volledige requirements te verzamelen,
            verschillende mogelijke strategieën werden onderzocht, ik
            onderhandelde met leveranciers en formuleerde een aanbevolen
            implementatie, rekening houdend met de bestaande infrastructuur en
            de toekomstvisie op business en ICT vlak.
          </p>

          <p>
            Zo werkte ik o.a. in het initiële team dat de basis legde voor het
            nieuwe digitale documenten beheersysteem, op basis van het
            UnifiedPost aanbod.
          </p>

        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>    

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-sdworx.png" />
          
        </div>
        <div class="timeline-body">

          <h1>Functioneel Analist &amp; Methodologie Coach</h1>
          <h2>januari 2006 - maart 2008</h2>

          <p>
            Voor de migratie van het bestaande loonberekeningsplatform, op
            basis van een mainframe en COBOL, naar een .NET-gebaseerd platform,
            ondersteunde ik <a href="http://sdworx.be">SD Worx</a> initiëel bij
            de functioneel analyse-fase. Dit vroeg een nauwe samenwerking met
            het business en management team.
          </p>
          
          <p>
            Dankzij een doorgedreven object-georiënteerde analyse, met
            verschillende technieken uit MDA/UML en SOA-gedreven
            projectbeheer, werd de basis gelegd voor een moderne aanpak van
            software ontwikkeling naar de toekomst toe.
          </p>
          
        </div>
        
        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-bai.png" />
        </div>
        <div class="timeline-body">

          <h1>Technisch Architect &amp; Release Manager, Business Architects International</h1>
          <h2>juli 2004 - december 2005</h2>

          <p>
            Business Architects International was in 2004 dé referentie wanneer
            het UML modellering betrof. Binnen het CLP team, kon ik mij
            verdiepen in de details van de enorme mogelijkheden van deze
            analyse-techniek.
          </p>
          
          <p>
            Als technisch architect werkte ik functionele modellen uit,
            betreffende hypotheken en kredieten voor Rabo Bank Nederland.
            Hierbij werden ver doogedreven technieken van UML en MDA principes
            toegepast om tot modellen te komen die geautomatiseerd tot
            programmacode konden omgezet worden door Cap Gemini.
          </p>
          
          <p>
            Later opereerde ik als overkoepelende release manager van het hele
            design- en modelleringsproces, stelde ik de nodige procedures op en
            implementeren deze voor het samenstellen van kwalitatieve releases
            met de nodige garanties.
          </p>

        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>    

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-2know.png" />
          
        </div>
        <div class="timeline-body">

          <h1>Oprichting 2Know BVBA</h1>
          <h2>mei 2004</h2>

          <p>
            Met de oprichting van 2Know ving mij carrière als freelancer
            definitief aan. Vanaf nu kon ik mijn expertise betreffende software
            architectuur, het uitwerken van software analyses &amp;
            ontwikkelingsprocessen en het begeleiden van software analyse- &amp;
            ontwikkelingsteams, in de beste omstandigheden aanbieden.
          </p>

          <p>
            Vanuit mijn onafhankelijke positie ben ik in staat om steeds naar
            de beste oplossing voor een gegeven situatie te zoeken, zonder
            beperkingen of vooroordelen, uit andere, commerciële overwegingen.
            Deze situatie is typerend voor mijn aanpak en heeft over de jaren
            duidelijk zijn stempel gedrukt en vruchten afgeworpen.
          </p>
            
        </div>
        
        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-telindus.png" />
        </div>
        <div class="timeline-body">

          <h1>Software Architect, Telindus Corporate</h1>
          <h2>mei 2002 - september 2003</h2>

          <p>
            Bij <a href="http://telindus.be">Telindus</a>, was ik
            verantwoordelijk voor het ontwerp en de integratie van het een
            netwerk-event correlatie- en rapporteringsysteem voor het
            International Service Center.
          </p>

          <p>
            De strategie voor het ISC project was een verregaande integratie
            van bestaande componenten. Hiervoor diende ik verschillende
            partijen te evalueren en met elkaar in een overkoepelende en
            geïntegreerde architectuur te verenigen.
          </p>

        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>    

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-valid.png" />
          
        </div>
        <div class="timeline-body">

          <h1>Mede-oprichting Valid Solutions</h1>
          <h2>juni 2002 - maart 2004</h2>

          <p>
            In 2002 richtte ik samen met Dale Hofkens <a
            href="http://valid.be">Valid Solutions</a> op. Valid paste
            vooruitstrevende webtechnologieën toe, en creëerde zo zeer
            dynamische producten om aan te bieden aan de KMO markt. We zagen
            daarmee reeds zeer vroeg de kracht van het wereld-wijde web voor
            dit marktsegment - iets dat de daarop volgende jaren zeer duidelijk
            werd, bvb. met de lancering van <a
            href="http://gmail.com">GMail</a>.
          </p>
          
          <p>
            In deze periode was ik verantwoordelijk voor het ontwerp en
            ontwikkeling van de KMO-gerichte internet-gebaseerde producten, die
            in de vorm van diensten aangeboden werden. Zo was ik bv.
            projectleider voor de ontwikkeling van een online
            orderverwerkingsplatform voor de Belgische tak van <a
            href="http://www.ratiopharm.de">Ratiopharm</a>.
          </p>
            
        </div>
        
        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-ubizen.png" />
        </div>
        <div class="timeline-body">

          <h1> Software Analist &amp; Teamleider, Ubizen</h1>
          <h2>februari 2000 - februari 2002</h2>

          <p>
            Wat startte als een stage tijdens het laatste jaar van mijn
            opleiding, werd mijn eerste positie binnen een groot en snel
            groeiend bedrijf. Eerst Netvision, daarna Ubizen, later Cybertrust
            en sinds 2007 deel van <a href="http://verizon.com">Verizon
            Business</a>.
          </p>

          <p>
            Al snel werd ik verantwoordelijk voor het ontwerp van een volgende
            versie van OnlineGuardian, een monitoring platform voor
            beveiligingscomponenten. Als teamleider van het ontwikkelingsteam
            bouwde ik een van de tofste en krachtigste teams uit waarmee ik al
            heb mogen werken.
          </p>

        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>    

   <li>
     <div class="timeline-panel">
       <div class="timeline-heading">
         <img class="img-responsive" src="/about/images/banner/cv-isw.png" />
       
       </div>
       <div class="timeline-body">

         <h1>Oprichting ISW</h1>
         <h2>academiejaar 1998-1999</h2>

         <p>
           Anno 1998 regeerden BBS'en, was het mainframe koning en was er van het
           internet slechts spraken in de kelder van enkelingen. De studenten
           informatica van de KHLeuven kregen de beginselen van de informatica
           die voor handen waren, maar sommigen wilden toch al eens wat meer, 
           o.a. ikzelf ;-)
         </p>
         
         <p>
           Enigzins in een zoektocht naar gelijkgestemden binnen de school,
           stelde ik aan de directie voor om een parascholaire werkgroep op te
           richten waar workshops rond andere topics door en voor studenten
           georganiseerd konden worden. Na een korte rondvraag ontstond <a
           href="https://iswleuven.be">ISW</a>.
         </p>

         <p>
           Vandaag, na bijna 20 jaar bestaat ISW nog steeds en is het uitgegroeid
           tot een belangrijk onderdeel van de informaticaopleiding aan het <a
           href="http://ucll.be">UCLL</a>. Ik ben werkelijk trots aan de wieg
           gestaan te hebben van zo'n verhaal.
         </p>

       </div>
     
       <div class="timeline-footer">
         <i class="fa fa-fw fa-link"></i>
         <a href="/it">it</a>
       </div>
     </div>
   </li>
 
    <li class="clearfix" style="float: none;"></li>
    <li class="clearfix" style="float: none;"></li>

    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="/about/images/banner/cv-coco2.jpg" />
        </div>
        <div class="timeline-body">

          <h1>En héél lang geleden...</h1>
          <h2>december 1983</h2>

          <p>
            ... begon mijn informatica-avontuur toen ik mijn eerste eigen
            computer kreeg: een <a href="https://en.wikipedia.org/wiki/TRS-80_Color_Computer#Color_Computer_2_.281983.E2.80.931986.29">Tandy Color Computer 2</a>.
          </p>

          <p>
            Mijn ouders dachten dat ik er spelletjes ging op spelen... en dat
            was <i>deels</i> waar. Deels, want al heel snel bleken dat zelf
            geschreven spelletjes te zijn. Het spelen verdween al even snel, het
            programmeren niet.
          </p>
          
          <p>
            En de rest is geschiedenis ;-)
          </p>

        <div class="timeline-footer">
          <i class="fa fa-fw fa-link"></i>
          <a href="/it">it</a>
        </div>
      </div>
    </li>    

    <li class="clearfix" style="float: none;"></li>

  </ul>
</div>
