DIV.definition {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  color: rgb(34, 34, 34);
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 100%;
  padding:26px;
}

DIV.definition H1 {
  font-size: 20px;
}

DIV.definition A {
  text-decoration: underline;
}

@media (min-width: 48em) {
  DIV.definition {
    font-size: 14px
  }
  DIV.definition H1 {
    font-size: 22px;
  }
}

@media (min-width: 64em) {
  DIV.definition {
    font-size: 16px
  }
  DIV.definition H1 {
    font-size: 24px;
  }
}

@media (min-width: 80em) {
  DIV.definition {
    font-size: 18px
  }
  DIV.definition H1 {
    font-size: 26px;
  }
}

DIV.fluid-width-video-wrapper {
  margin-bottom: 1em;
}

.page__taxonomy-item SPAN {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

h2.archive__item-title {
  margin: 1em 0 0.5em;
}

div.customers {
  text-align: center;
}

div.customers img {
  margin: 20px;
}

div.mail {
  margin-left: 20px;
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 2px solid gray;
  font-family: Courier;
  font-size: 75%;
}

div.thumb {
  margin: 5px;
}

div.thumb.right {
  float: right;
}

div.thumb.center {
  text-align: center;
}

div.video.thumb {
  position: relative;
  display: inline;
}

div.video.thumb .overlay {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

div.retired {
  margin-top: 20px;
}

div.thumbs {
  text-align: center;
  float: right;
  margin-left: 5px;
}

@media screen and (max-width:600px) {
  div.thumbs.many {
    float: none;
    margin-left: 0px;
  }  
}

img.thumb {
  margin: 5px 0px 5px 5px;
  height: 75px;
}

img.thumb.right {
  float: right;
}

img.thumb.large {
  height: auto;
  margin-left: 5px;
}

div.images {
  text-align: center;
}


/* iOS-style chat bubbles */
/* credits to: https://codepen.io/swards/pen/gxQmbj */

.chat {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.messages {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

/* permalinks */

a.permalink {
  display: none;
  font-size: 50%;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
  top: -4px; /* qnd - couldn't middle-align it with the header 😢 */
}

h2:hover a.permalink,
h3:hover a.permalink,
h4:hover a.permalink {
  display: inline;
  text-decoration: none;
}
h2, h3, h4 {
  position: relative;
}

.print {
  display: none;
}


.notice {
  border-left-color: red;
  padding: 8 16;
  margin-bottom: 16;
  color: inherit;
  border-left: .25em solid red;
}

