/* styling of services: hardware, software, made with passion */

.service {
  margin-top:           0px;
  margin-bottom:       30px;
  font-size:           .75em;
  text-align:          center;
}
.service i {
  position:            relative;
  overflow:            hidden;
}

.service .ico {
  margin:              0 auto;
  -webkit-transform:   rotate(45deg);
  -moz-transform:      rotate(45deg);
  -ms-transform:       rotate(45deg);
  -o-transform:        rotate(45deg);
  transform:           rotate(45deg);
  font-size:           30px;
  color:               #B8813C;
  line-height:         76px;
  background:          rgba(195, 185, 185, 0.21);
  width:               80px;
  height:              80px;
  text-align:          center;
  border-radius:       20px;
}

.service .ico:hover,
.service:hover .ico {
  color:               #F3F1F1;
  background:          #B8813C;  
  -webkit-transition:  ease-out .5s;
  -moz-transition:     ease-out .5s;
  -o-transition:       ease-out .5s;
  transition:          ease-out .5s;  
}

.service .ico i {
  -webkit-transform:   rotate(-45deg);
  -moz-transform:      rotate(-45deg);
  -ms-transform:       rotate(-45deg);
  -o-transform:        rotate(-45deg);
  transform:           rotate(-45deg);
}
