---
sections: { 
  default: 
    "<p>
      This site should answer most of your questions about me and point you to
      other spaces online where you find some of my work.
    </p>
    <p>
      <b>Language Disclaimer</b><br>
      Most of the content on this site is in Dutch, my mother tongue, since
      I'm from Belgium - yeah I know, please don't hold it against me ;-)
    </p>"
  }
---
{% capture section %}{{page.categories}}{% endcapture %}
{% capture sectionSize %}{{ section | size }}{% endcapture %}
{% if sectionSize == '0' %}
  {% assign section = 'default' %}
{% endif %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" 
        content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <script type="text/javascript" src="http://protojs.org/js/ProtoJS.min.js"></script>
</head>

<body>
  <!--[if lt IE 9 ]>
  <div style='margin-bottom:15px; border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an obsolete browser</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>I'm not Internet Eploder-friendly, nor is my site. Please upgrade to a modern web browser.</div>
      </div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->

  <div id="passport">
    <a href="/"><img src="/images/avatar.png" alt=""></a>
    <p>
      I'm Christophe Van Ginneken, your host on this personal website ...
      of mine.
    </p>
    {{ page.sections[section] }}
    {{ page.more }}
  </div>

  <div id="content">
  {{content}}
  </div>

  <div id="footer">
    <table>
      <tr>
        <td style="width:300px;vertical-align:top">
          <a href="http://creativecommons.org/licenses/by-sa/2.0/be/">
            <img alt="Creative Commons License" style="border-width:0" 
                 src="http://i.creativecommons.org/l/by-sa/2.0/be/80x15.png" >
          </a><br>
          This site is licensed under a<br><a href="http://creativecommons.org/licenses/by-sa/2.0/be/">Creative Commons Attribution-Share Alike 2.0 Belgium License</a>.<br>
          Last update on {{ site.time }}.
        </td>
        <td style="width:100px;vertical-align:top;">
          <a href="https://github.com/ChristopheVG"
             class="icon" style="background-image:url(/images/icons/github.png);">GitHub</a><br><br>
          <a href="http://www.flickr.com/photos/christophevg/"
             class="icon" style="background-image:url(/images/icons/flickr.png);">Flickr</a><br><br>
        </td>
        <td style="width:100px;vertical-align:top;">
          <a href="http://twitter.com/Christophe_VG"
             class="icon" style="background-image:url(/images/icons/twitter.png);">Twitter</a><br><br>
          <a href="http://www.blogger.com/profile/01120209794052599269"
             class="icon" style="background-image:url(/images/icons/blogger.png);">Blogger</a><br><br>
        </td>
        <td style="width:100px;vertical-align:top;">
          <a href="http://be.linkedin.com/in/2know"
             class="icon" style="background-image:url(/images/icons/linkedin.png);">LinkedIn</a><br><br>
          <a href="http://google.com/profiles/christophe.vg"
             class="icon" style="background-image:url(/images/icons/google-plus.png);">Google+</a><br><br>
        </td>
        <td style="vertical-align:top">
          <a href="http://webuml.org"><img src="http://webuml.org/images/webuml-badge.png" alt="Set UML Free!" style="border-width:0"></a><br>
        </td>
      </tr>
    </table>
  </div>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-393672-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript" src="/js/site.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>
