---
layout: section
---
{% capture section %}{{page.categories}}{% endcapture %}

<h1>{{ section }}</h1>
{{content}}

<hr>

{% capture emptystring %}{% endcapture %}
{% assign entireIndex   = emptystring %}
{% assign currentHeader = emptystring %}
{% assign currentIndex  = emptystring %}
{% assign currentLetter = emptystring %}

{% assign maxPerColumn = 40 %}
<table>
  <tr>
    <td valign="top" width="33%">
{% for item in site.categories[section] reversed %}
  {% if item.layout == "post" %} 
    {% capture letter %}{{ item.title | truncate: 2, " " }}{% endcapture %}
    {% if currentLetter != letter %}
      {% if forloop.index > maxPerColumn %}
    </td>
    <td valign="top" width="33%">
        {% if maxPerColumn == 40 %}
          {% assign maxPerColumn = 80 %}
        {% else %}
          {% assign maxPerColumn = 120 %}
        {% endif %}
      {% endif %}
      {% assign currentLetter = letter %}
      <h2>{{ currentLetter }}</h2>
    {% endif %}
      <li><a href="{{site.url}}{{item.url}}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
    </td>
  </tr>
</table>
