---
layout: single
---

  <div class="retired">
    
      <h1 class="page__title">Sorry,... this page has been retired.</h1>
    
      <p>

        As this site grows older, so does some of its content and so do I. And
        as I grow older, I progress into new areas and my focus shifts. So from
        time to time, I clean up, to make room for new and more interesting
        things.

      </p>
    
      <p>
        
        In a next iteration it will be removed completely.
        
      </p>
    
  </div>
