---
layout: single
---

<h2>Favoriete song (tekst) van het ogenblik ...</h2>

Muziek is "Poetry on Steroids". Het heeft een onontkoombaar effect op me en brengt me in extatische vervoering of op de rand van de afgrond. Een mooiere uiting van passie bestaat niet.

Op deze pagina vind je de song (tekst) die me in deze fase van mijn leven het meeste weet te raken, steunt en hoopvol doet vooruit kijken.

<div class="song-embed">
  <h3>{{ page.song.title }}</h3>

  {% if page.song.youtube %}
  <div class="song-video">
    <iframe src="https://www.youtube.com/embed/{{ page.song.youtube }}?rel=0"
            width="560" height="315"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>
  {% endif %}

  {% if page.song.spotify %}
  <div class="song-spotify">
    <iframe src="https://open.spotify.com/embed/track/{{ page.song.spotify }}?utm_source=generator"
            width="100%"
            height="152"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
  </div>
  {% endif %}
</div>

{{ content }}